body>.content {
    width:960px;
    margin: 0 auto;
    padding-top: 20px;
}

ul.menu{
    padding: 5px  10px;
}

ul.menu>li{
    padding: 10px 20px;
}

ul.menu>li.active{
    border: 1px solid #d8d8d8;
    border-bottom: none;
    background-color: #f5f5f5;
}
ul.menu>li.active>a{
    font-weight: bold;

}
